package com.seamount.dao.service.impl;

import com.seamount.dao.$!{classNameUpCase}Dao;
import com.seamount.dao.model.$!{classNameUpCase}Model;
//import com.midai.car.query.$!{classNameUpCase}Query;
import com.seamount.dao.service.$!{classNameUpCase}Service;
import java.util.List;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;


    
//@Service(version="1.0.0",protocol="dubbo")
@Service
public class $!{classNameUpCase}ServiceImpl implements $!{classNameUpCase}Service{
	@Autowired
	private $!{classNameUpCase}Dao $!{classNameLowCase}Dao;

	
	//根据ID查询指定的数据
	public $!{classNameUpCase}Model getById(long id){ 
		return $!{classNameLowCase}Dao.getById(id);
	}
	
	//删除 
	public void delById(long id){
	    #if($!{isDatabaseShard} == true)
		   DatabaseShard.setUserName(query.getCurrentUserName());
		#end
		$!{classNameLowCase}Dao.delById(id);
	}
	
	//新增
	public long insert($!{classNameUpCase}Model $!{classNameLowCase}){	
	    #if($!{isDatabaseShard} == true)
		   DatabaseShard.setUserName(query.getCurrentUserName());
		#end
		return $!{classNameLowCase}Dao.insert($!{classNameLowCase});
		
	}
	
	//修改
	public long update($!{classNameUpCase}Model $!{classNameLowCase}){
	    #if($!{isDatabaseShard} == true)
		   DatabaseShard.setUserName(query.getCurrentUserName());
		#end
		return $!{classNameLowCase}Dao.update($!{classNameLowCase});
	}
	
	//高级查询 
	//@Override
	//public List<$!{classNameUpCase}Model> fetchPageAdvance($!{classNameUpCase}Query query) {
	    //#if($!{isDatabaseShard} == true)
		//   DatabaseShard.setUserName(query.getCurrentUserName());
		//#end
		//return $!{classNameLowCase}Dao.fetchPageAdvance(query);
	//}
	
	//高级查询总记录数
	//@Override
	//public int fetchPageAdvanceCount($!{classNameUpCase}Query query) {
	   // #if($!{isDatabaseShard} == true)
		//   DatabaseShard.setUserName(query.getCurrentUserName());
		//#end
	//	return $!{classNameLowCase}Mapper.fetchPageAdvanceCount(query);
	//}

	
	

}
